
body{

    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hue;
  }


.container {
    display: flex;
    min-height: 10vh;
    flex-direction: row;
    justify-content:space-evenly
   
}
.box{
    color:rgb(255, 255, 255);
    font-size:60px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px;
    
    
    
}

.box1{background-color:hsl(216, 62%, 16%, .6);}
.box2{background-color:hsl(214, 56%, 38%, .6);}
.box3{background-color:hsl(217, 66%, 26%, .6);}



  
  




